#basket {
  color: $black;
  padding-top: 15px;
  background: $white;
  padding-bottom: 80px;
  @include sm(padding-top, 80px);
  .wrapper {
    @include sm(padding, 0);
  }
  .wrapper-big {
    .sidebar-bg {
      position: fixed;
      top: 247px;
      margin-left: -20px;
    }
  }
  .container {
    position: relative;
    .mobile-menu-toggle {
      display: block;
      position: absolute;
      left: -85px;
      top: 0;
    }
    .style-btn-basket {
      width: 190px;
      height: 30px;
      font-size: 16px;
      font-weight: 600;
      background: $white;
      border: none;
      @include sm-block() {
        width: 140px;
        height: 24px;
      }
      &.bg-red {
        background: $red;
        margin-top: 8px;
        color: $white;
      }
    }
    .block-basket {
      margin-top: 50px;
      @include sm(margin-top, 15px);
      .block-checkout {
        background: $grey;
        padding: 17px 20px;
        @include md-block() {
          flex-direction: column;
        }
        @include xs-block() {
          align-items: flex-start;
        }
        > .col {
          @include md-block() {
            order: 1;
          }
        }
        .block-coupon {
          @include sm-block() {
            margin-top: 15px;
          }
          p {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 1.8px;
            @include sm-block() {
              letter-spacing: inherit;
              font-size: 14px;
              line-height: 30px;
            }
          }
          .coupon {
            box-sizing: border-box;
            width: 287px;
            background: $white;
            height: 34px;
            padding: 0 15px;
            border: none;
            @include sm-block() {
              width: 212px;
              height: 25px;
            }
          }
          .btn {
            @include sm(max-width, 237px);
          }
          .btn-active-coupon {
            border: none;
            height: 34px;
            box-sizing: border-box;
            width: 34px;
            background: $yellow-three;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sm-block() {
              width: 25px;
              height: 25px;
            }
          }
        }
        .order-price {
          font-size: 24px;
          font-weight: 600;
          text-align: right;
          padding-right: 20px;

          @include sm-block() {
            font-size: 16px;
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
    .basket {
      margin-top: 25px;
      border: 1px solid $grey;
      border-top: none;
      border-bottom: none;
      .cap-basket {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        background: $grey;
        padding: 0 20px;
        @include sm-block() {
          justify-content: space-between;
        }
        .in-basket {
          font-size: 18px;
          font-weight: 600;
          padding-right: 20px;
          @include sm(font-size, 14px);
        }
        .close {
          position: relative;
          &:before {
            content: "";
            background: url("../images/icons/icon-close.png");
            position: absolute;
            width: 12px;
            height: 12px;
            left: 11px;
            top: 9px;
            @include sm-block() {
              top: 6px;
              left: 6px;
            }
          }
        }
      }
      .content-basket {
        .row {
          &.margin-top {
            margin-top: 25px;
            @include xs(margin-top, 0);
          }
        }
        .one-product {
          position: relative;
          padding: 30px 120px 30px 30px;
          border-bottom: 1px solid $grey;
          @include lg(padding, 30px 60px 30px 30px);
          @include sm-block() {
            padding: 20px 15px;
            flex-direction: column;
          }
          > .col {
            > .row {
              @include xs-block() {
                flex-direction: column;
                align-items: center;
              }
            }
            @include sm(margin-top, 10px);
            @include xs-block() {
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
            }
          }
          .btn-close {
            background: none;
            border: none;
            position: absolute;
            top: 22px;
            right: 18px;
          }
          .small-img {
            max-width: 110px;
            max-height: 110px;
            padding: 15px;
            border: 1px solid $grey;
            @include sm-block() {
              max-width: 77px;
              max-height: 77px;
            }
          }
          .name {
            font-size: 18px;
            font-weight: 600;
            padding-left: 20px;
          }
          .price {
            font-size: 18px;
            font-weight: 600;
            padding-right: 88px;
            @include xs(padding-right, 0);
          }
          p {
            font-size: 16px;
            font-weight: 300;
            margin-top: 7px;
          }
          .quantity {
            @include xs(margin-top, 9px);
            .styles-btn-quantity {
              width: 24px;
              height: 30px;
            }
            .styles-input-quantity {
              height: 30px;
              width: 38px;
              background: $white-four;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}