#compare {
  padding-top: 15px;
  @include sm(padding-top, 60px);
  .wrapper-big {
    .sidebar-bg {
      position: fixed;
      top: 247px;
      margin-left: -20px;
    }
  }
  .container {
    position: relative;
    .mobile-menu-toggle {
      display: block;
      position: absolute;
      left: -85px;
      top: 0;
    }
    .content-compare {
      margin-top: 70px;
      > .row {
        justify-content: flex-start;
        > .col:nth-child(1) {
          margin-right: 30px;
        }
      }
      p {
        font-size: 24px;
      }
      .photo {
        height: 110px;
        display: flex;
        align-items: center;
      }
      .name-product, .article, .type, .country, .material, .size, .price, .btn {
        height: 50px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
      }
      .product {
        .name-product, .photo, .article, .type, .country, .material, .size, .price, .btn {
          border-bottom: 1px solid $grey;
          padding: 0 50px 10px;
          font-weight: 600;
          p {
            font-size: 16px;
          }
        }
        .photo, .btn {
          border-bottom: none;
        }
        .btn {
          margin-top: 20px;
        }
        .add-to-basket {
          margin-top: 20px;
          text-align: left;
          padding-left: 15px;
          border: none;
          max-width: 122px;
          width: 100%;
          background: $grey;
          font-size: 12px;
          font-weight: 600;
          height: 44px;
        }
      }
    }
  }
}