#contacts {
  padding-top: 15px;
  padding-bottom: 80px;
  background: $white;
  .container {
    position: relative;
    .btn-back {
      position: absolute;
      top: 6px;
      left: -70px;
    }
  }
  .wrapper-big {
    .sidebar-bg {
      background: inherit;
      position: fixed;
      top: 230px;
      margin-left: -20px;
    }
  }
  .wrapper {
    @include xs(padding, 0);
  }
  @include sm(padding-top, 20px);
  .container {
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      padding: 4px;
      border: 1px solid $grey;
      @include xs-block() {
        padding-left: 15px;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid $grey;
      }
    }
    .col {
      margin-top: 40px;
      @include sm(margin-top, 0);
    }
    .bg-grey-two {
      background: $grey;
      padding: 35px 0;
      margin-top: 4px;
      @include sm-block() {
        padding: 20px 0;
        order: -2;
        margin-top: 0;
      }
      .row {
        @include sm-block() {
          flex-direction: column;
        }
      }
      .one-block {
        font-family: 'Roboto', sans-serif;
        &:nth-child(2) {
          @include sm(padding, 20px 0);
        }
        .title {
          font-weight: 600;
        }
        p {
          margin-top: 5px;
          line-height: 24px;
          font-weight: 300;
        }
      }
    }
    .bg-grey {
      background: $grey;
      padding: 25px 0;
      margin-top: 4px;
      @include sm-block() {
        padding: 12px 0;
        order: -1;
      }
      .location {
        display: flex;
        align-items: center;
        a {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          color: $black;
          border-bottom: 1px solid $brown;
        }
        img {
          padding-right: 8px;
        }
      }
    }
    .map {
      height: 323px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $dark-three;
      color: $black;
      font-weight: 600;

      @include xs(background, $white);
    }
  }
}