#discounts {
  padding-bottom: 50px;
  background: $white-four;
  @include sm(margin-top, 0);
  .wrapper-big {
    position: relative;
    .sidebar-bg {
      position: absolute;
      top: -20px;
      left: 0;
      //margin-left: -30px;

    }
  }
  .cap-menu {
    border-bottom: 2px solid $grey;
    padding: 17px 0;
    margin-bottom: 20px;
    @include xs(background, $grey);
    .row {
      justify-content: flex-start;
    }
    ul {
      li {
        margin-right: 35px;
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        padding: 7px 20px;
        &.active {
          background: $yellow;
        }
        &:hover {
          background: $yellow;
        }
        @include xs-block() {
          font-size: 14px;
          margin-right: 25px;
        }
      }
    }
  }
  h1 {
    border: none;
    font-weight: 400;
  }
  .block-full {
    flex-basis: 440px;
    max-width: 440px;
    margin-top: 83px;
    @include md-block() {
      max-width: 100%;
      margin-top: 15px;
    }
    .col {
      height: 533px;
      justify-content: space-between;
      @include md(height, auto);
    }
  }
  .container {
    .one-tab {
      display: none;
      &.active {
        display: block;
      }
      > .row {
        @include md-block() {
          flex-direction: column;
          align-items: center;
        }
      }
      .block {
        width: 505px;

        @include md(width, 100%);
        h1 {

          @include sm(margin-top, 10px);
          @include xs(font-weight, 600);
        }
        .discount-image {
          > img {
            margin-top: 25px;
            width: 100%;
            height: auto;
          }
        }
      }
      .block-slider {
        max-width: 440px;
        @include md-block() {
          max-width: 100%;
          width: 100%;
        }
        .row {
          //&:nth-child(-n + 100) {
          //  margin-top: 10px;
          //}
          @include md-block() {
            justify-content: space-around;
          }
          @include xs-block() {
            justify-content: space-between;
          }
        }
      }
      .slider {
        .slick-arrow {
          position: absolute;
          outline: none;
          font-size: 0;
          height: 17px;
          width: 10px;
          border: none;
          top: calc((100% - 35px) / 2);
          z-index: 2;
          @include sm-block() {
            top: inherit;
            bottom: -38px;
          }
          &.slick-prev {
            background: url("../images/icons/icon-arrow-prev.png") no-repeat;
            left: -10%;

            @include fix(left, 0);
            @include sm(left, 42%);
            @include xs(left, 35%);
          }
          &.slick-next {
            background: url("../images/icons/icon-arrow-next.png") no-repeat;
            right: -10%;

            @include fix(right, 18px);
            @include md(right, 0);
            @include sm(right, 42%);
            @include xs(right, 35%);
          }
        }
      }
    }
  }
}