#footer {
  padding: 66px 0;
  background: $grey;
  margin-top: 100px;
  @include xs-block() {
    padding: 85px 0;
  }
  .title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    @include xs-block() {
      text-align: center;
    }
  }
  .row {
    align-items: flex-end;
  }
  .navigation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    @include xs(display, none);
    li {
      margin-top: 14px;
      margin-right: 83px;
      a {
        color: $black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

  }
  .telephone {
    display: flex;
    align-items: center;
    font-size: 24px;
    @include xs-block() {
      display: inline-block;
      margin: 0 auto;
      margin-top: 25px;
    }
    img {
      padding-right: 6px;
      @include xs(display, none)
    }
  }
}