body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $bg;
}

.wrapper {
  @include wrapper();
}

.wrapper-big {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include xs-block() {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wrapper-small {
  max-width: 910px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @include xs-block() {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}

button, input[type=button] {
  outline: none;
  cursor: pointer;
}

input[type=text] {
  outline: none;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  color: $black-two;

  @include xs(font-size, 16px)
}

h2 {
  font-size: 24px;
  color: $black;
  line-height: 30px;
}

.bg-grey {
  background: $grey;
}

.lg-hide {
  @include lg(display, none)
}

.lg-show {
  display: none;
  @include lg(display, block)
}

.md-hide {
  @include md(display, none !important)
}

.sm-hide {
  @include sm(display, none !important)
}

.sm-show {
  display: none;
  @include sm(display, block);
}

.xs-hide {
  @include xs(display, none);
}

.row {
  display: flex;
  justify-content: space-between;
  &__aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  &__aic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.aic_xs {
    @include xs(align-items, center);
  }
}

.way {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  a {
    color: $grey-two;
  }
}

.sidebar {
  position: fixed;
  left: 109px;
  top: 170px;
  z-index: 2;
  @include menu(left, 10px);
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-top: 5px;
      z-index: 9;
      &.search {
        margin-top: 70px;
        .description:hover {
          display: flex;
        }
      }
      a {
        display: flex;
        .description {
          display: none;
          box-sizing: border-box;
          height: 40px;
          width: 100px;
          align-items: center;
          justify-content: center;
          color: $black;
          font-size: 12px;
          border: 1px solid $black;
          border-left: none;
          input {
            width: 100%;
            height: 89%;
            &:active {
              display: block;
            }
          }
        }
        .description:hover {
          display: flex;
        }
        img {
          &:hover + .description {
            display: flex;
          }
        }
      }
    }
  }
}

//FORM FEEDBACK
.form-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
  margin: 0 15px;
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;

    @include xs(font-size, 16px);
  }
  .styles-input {
    width: 100%;
    max-width: 567px;
    height: 40px;
    background: $white;
    font-size: 24px;
    padding: 0 20px;
    margin-top: 12px;
    border: none;
    color: $black;

    @include xs-block() {
      height: 30px;
      font-size: 16px;
      max-width: 244px;
    }
  }
  .styles-button {
    width: 257px;
    height: 40px;
    margin-top: 30px;
    font-size: 24px;
    color: $white;
    border: none;
    background: $red;

    @include xs-block() {
      margin-top: 12px;
      width: 190px;
      font-size: 16px;
    }
  }
}
//END FROM FEEDBACK

.quantity {
  display: flex;
  .styles-btn-quantity {
    height: 40px;
    width: 32px;
    box-sizing: border-box;
    background: $white;
    color: $black;
    font-size: 22px;
    border: 1px solid $black;

    @include xs-block() {
      width: 24px;
      height: 30px;
    }
  }
  .styles-input-quantity {
    text-align: center;
    background: $white-three;
    border: 1px solid $black;
    border-left: none;
    box-sizing: border-box;
    border-right: none;
    outline: none;
    font-size: 22px;
    width: 106px;

    @include xs-block() {
      width: 34px;
      height: 30px;
      font-size: 18px;
    }
  }
}