body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $bg;
}

.wrapper {
  @include wrapper();
}

.wrapper-big {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include xs-block() {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wrapper-small {
  max-width: 910px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @include xs-block() {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}

button, input[type=button] {
  outline: none;
  cursor: pointer;
}

input[type=text] {
  outline: none;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  color: $black-two;

  @include xs(font-size, 16px)
}

h2 {
  font-size: 24px;
  color: $black;
  line-height: 30px;
}

.bg-grey {
  background: $grey;
}

.lg-hide {
  @include lg(display, none)
}

.lg-show {
  display: none;
  @include lg(display, block)
}

.md-hide {
  @include md(display, none !important)
}

.md-show {
  display: none;
  @include md(display, block);
}

.sm-hide {
  @include sm(display, none !important)
}

.sm-show {
  display: none;
  @include sm(display, block);
}

.xs-hide {
  @include xs(display, none);
}

.row {
  display: flex;
  justify-content: space-between;
  &__aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  &__aic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.aic_xs {
    @include xs(align-items, center);
  }
}

.way {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  a {
    color: $grey-two;
  }
}
.sidebar-bg {
  position: fixed;
  left: 8.1%;
  &.top-sidebar {
    top: 10%;
    left: 6.2%;
  }
  &.top-down {
    transition: all .4s;
    top: 400px;
  }
  .sidebar {
    z-index: 2;
    @include menu(left, 10px);
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin-top: 5px;
        z-index: 9;
        display: flex;
        &.last-item {
          margin-top: 70px;
          .hide-click {
            display: none;
          }
          .search-area {
            width: 100px;
            height: 40px;
            box-sizing: border-box;
            border: 1px solid $black;
            border-left: none;
            padding: 0 5px;
          }
        }
        a {
          display: flex;
          .description {
            display: none;
            box-sizing: border-box;
            height: 40px;
            width: 100px;
            align-items: center;
            justify-content: center;
            color: $black;
            font-size: 12px;
            border: 1px solid $black;
            border-left: none;
          }
          .description:hover {
            display: flex;
          }
          img {
            &:hover + .description {
              display: flex;
            }
          }
        }
      }
    }
  }
}

//FORM FEEDBACK
.form-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
  margin: 0 15px;
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;

    @include xs(font-size, 16px);
  }
  .styles-input {
    width: 100%;
    max-width: 567px;
    height: 40px;
    background: $white;
    font-size: 24px;
    padding: 0 20px;
    margin-top: 12px;
    border: none;
    color: $black;

    @include xs-block() {
      height: 30px;
      font-size: 16px;
      max-width: 244px;
    }
  }
  .styles-button {
    width: 257px;
    height: 40px;
    margin-top: 30px;
    font-size: 24px;
    color: $white;
    border: none;
    background: $red;

    @include xs-block() {
      margin-top: 12px;
      width: 190px;
      font-size: 16px;
    }
  }
}
//END FROM FEEDBACK

.quantity {
  display: flex;
  .styles-btn-quantity {
    height: 40px;
    width: 32px;
    box-sizing: border-box;
    background: $white;
    color: $black;
    font-size: 22px;
    border: 1px solid $black;

    @include xs-block() {
      width: 24px;
      height: 30px;
    }
  }
  .styles-input-quantity {
    text-align: center;
    background: $white-three;
    border: 1px solid $black;
    border-left: none;
    box-sizing: border-box;
    border-right: none;
    outline: none;
    font-size: 22px;
    width: 106px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @include xs-block() {
      width: 34px;
      height: 30px;
      font-size: 18px;
    }
  }
}

//PRODUCT
.block-product {
  margin-top: 24px;
  padding-top: 20px;
  flex-basis: 160px;
  position: relative;
  background: $white;

  .sale-alert {
    font-size: 8px;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 15px;
    background: $blue;
  }
  .image-product {
    display: block;
    margin: 0 auto;
    @include xs-block() {
      width: 100%;
      height: auto;
    }
  }
  .name, .materials-block, .block-factory, .block-type {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9px;
    color: $black;
  }
  .materials-block, .block-factory, .block-type {
    margin-top: 8px;
    span {
      font-weight: 600;
    }
  }
  .name {
    padding: 8px 5px;
    border-bottom: 2px solid $white-two;
  }
  .block-price {
    margin-top: 15px;
    font-size: 11px;
    font-weight: 600;

    @include xs-block() {
      font-size: 11px !important;
    }
    .without-discount {
      text-decoration: line-through;
      color: $black;
      padding: 8px 13px;
      @include xs(padding, 5px 5px);

    }
    .with-discount {
      padding: 8px 13px;
      background: $red;
      color: $white;
      @include xs(padding, 5px 5px);
    }
  }
  &.bigger {
    margin-top: 0;
    flex-basis: 210px;
    padding-top: 35px;
    @include md-block() {
      flex-basis: 315px;
      margin: 10px 10px 0 10px;
    }
    @include xs(margin, 0);
    &:nth-child(even) {
      @include xs(margin-left, 5px);
    }
    &:nth-child(odd) {
      @include xs(margin-right, 5px);
    }
    > * {
      font-size: 12px;
    }
    .name,
    .materials-block,
    .block-factory,
    .block-type {
      padding-left: 10px;
      padding-right: 10px;
    }
    .name {
      padding: 25px 10px 8px;
    }
    .block-price {
      margin-top: 17px;
      font-size: 16px;
    }
  }
  &.main-page {
    background: $white-four;
    padding-bottom: 20px;
    flex-basis: 220px;
    margin-top: 30px;

    @include xs-block() {
      flex-basis: 130px;
      margin-top: 13px;
    }
    > img {
      @include xs-block() {
        max-width: 100px;
        max-height: 50px;
      }
    }
    .name {
      font-size: 14px;
      font-weight: 600;
      border-bottom: 2px solid $grey;

      @include xs-block() {
        font-size: 8px;
      }
    }
    .materials-block, .block-factory, .block-type {
      font-size: 12px;
      @include xs(font-size, 7px)
    }
  }
}

//END PRODUCT

.styles-button {
  height: 35px;
  width: 190px;
  background: $red;
  color: $white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  border: none;
  font-family: 'Manrope', sans-serif;
}

input[type=checkbox] {
  display: none;
  &:checked + label:before {
    color: #000;
  }
}
label {
  &:before {
    content: "\2713";
    color: transparent;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #000;
    font-size: 13px;
    background: #fff;
    font-weight: 600;
    line-height: 15px;
    margin: -5px 5px 0 0;
    height: 17px;
    width: 17px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
  }
}
