body {
  font-family: 'Source Sans Pro';
  background: $bg;
}

.wrapper {
  @include wrapper();
}

.wrapper-big {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include xs-block() {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}

button, input[type=button] {
  outline: none;
  cursor: pointer;
}

input[type=text] {
  outline: none;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  color: $black-two;

  @include xs(font-size, 16px)
}

h2 {
  font-size: 24px;
  color: $black;
  line-height: 30px;
}

.bg-grey {
  background: $grey;
}

.lg-hide {
  @include lg(display, none)
}

.lg-show {
  display: none;
  @include lg(display, block)
}

.md-hide {
  @include md(display, none !important)
}

.sm-hide {
  @include sm(display, none !important)
}

.sm-show {
  display: none;
  @include sm(display, block);
}

.row {
  display: flex;
  justify-content: space-between;
  &__aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  &__aic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sidebar {
  position: fixed;
  left: 140px;
  top: 170px;

  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-top: 5px;
      &.search {
        margin-top: 70px;
      }
      a {
        display: flex;
        .description {
          display: flex;
          opacity: 0;
          overflow: hidden;
          box-sizing: border-box;
          height: 40px;
          width: 100px;
          align-items: center;
          justify-content: center;
          color: $black;
          font-size: 12px;
          border: 1px solid $black;
          border-left: none;
          input {
            width: 100%;
            height: 89%;
            &:active {
              display: block;
            }
          }
        }
        &:hover .description {
          transition: all .5s;
          opacity: 1;
          overflow: visible;
        }
      }
    }
  }
}