#header {
  position: relative;
  background: $grey;
&.bg {
  background: #fff;
}
  &.bg-white {
    background: $bg;
  }
  @include sm(background, $bg);
  .container {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    .wrapper-big {
      &.offset-none {
        @include lg-block() {
          padding: 0;
        }
      }
    }
    .sidebar-bg {
      position: fixed;
      top: 300px;
      width: 4em;
      margin-left: -30px;
      &.sidebar-other-page {
        top: 10px;
        &.top-offset {
          transition: all .4s;
          top: 300px;
        }
      }
      &.offset-top-main {
        top: 380px;
        transition: all .4s;
      }
    }
    @include sm(padding, 0);
    .row__aic {
      justify-content: flex-start;
      @include sm-block() {
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;
        z-index: 9;
        background: $grey;
      }
    }
    .mobile-menu-toggle {
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $black;
      background: $white;
      z-index: 4;
      //HAMBURGER BUTTON
      .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $black;
        stroke-width: 4;
        stroke-linecap: round;
      }
      .ham-burger {
        .top {
          stroke-dasharray: 40 160;
        }
        .middle {
          stroke-dasharray: 40 142;
          transform-origin: 50%;
          transition: transform 400ms;
        }
        .bottom {
          stroke-dasharray: 40 85;
          transform-origin: 50%;
          transition: transform 400ms, stroke-dashoffset 400ms;
        }
        &.active {
          .top {
            stroke-dashoffset: -64px;
          }
          .middle {
            transform: rotate(90deg);
          }
          .bottom {
            stroke-dashoffset: -64px;
          }
        }
      }
      //END HAMBURGER BUTTON
    }
    .menu-chose {
      z-index: 4;
      margin-left: auto;
      ul {
        display: flex;
        align-items: center;
        li {
          padding-left: 8px;
        }
      }
      .search-input {
        width: 100%;
        position: absolute;
        top: 62px;
        height: 40px;
        left: 0;
        display: none;
        box-sizing: border-box;
        padding:0 15px;
        border: none;
        border-top: 1px solid $bg;
        background: $grey;
        font-size: 14px;
      }
    }
    nav {
      z-index: 3;
      ul {
        padding-left: 45px;
        li {
          a {
            padding: 7px 20px;
            font-size: 16px;
            color: $dark;
            font-weight: 600;
            line-height: 1.44ch;
            &:hover {
              background: $yellow;
              transition: all .3s;
            }
            &.active {
              background: $yellow;
            }
          }
        }
      }
    }
    .top {
      padding: 15px 0;
      background: $grey;
      &.bg-none {
        background: #fff;
      }
      &.other-none {
        padding: 0;
        @include lg(padding, 10px 0);
      }
    }
  }
}

.drop-menu, .menu-header {
  display: block;
  width: 100%;
  z-index: 3;
  background: $grey;
  .bg-grey {
    padding-left: 30px;
    @include md-block() {
      position: absolute;
      top: 62px;
      left: 0;
      z-index: 101;
      width: 100%;
      background: $grey;
      padding-left: 0;
    }
    @include sm-block() {
      position: fixed;
    }
  }
  .block-with-menu {
    display: none;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 40px;
    padding-top: 10px;
    width: 100%;

    @include md-block() {
      padding-left: 32px;
    }
    @include sm(padding-left, 15px);
    .menu {
      display: flex;
      flex-direction: column;
      li {
        margin: 5px 0;
        a {
          padding: 6px 0;
          color: $dark;
          text-transform: uppercase;
          font-weight: 600;
          display: block;
          &:hover {
            background: $yellow;
          }
        }
      }
    }
    .telephone {
      display: flex;
      align-items: center;
      font-weight: 600;
      img {
        padding-right: 10px;
      }
      p {
        color: $dark;
      }
    }
  }
  &.menu-header {
    &.other-page {
      position: fixed;
      top: 0;
      width: 1280px;
      margin: 0 auto;
      box-shadow: 17px 17px 40px -4px rgba(0,0,0,0.75);
      @include lg-block() {
        position: static;
        width: 100%;
      }
    }
    @include md(background, $bg);
    @include sm-block() {
      display: block;
      position: inherit;
      box-shadow: none;
      background: $bg;
      margin-top: 31px;
    }
  }
  &.is-open {
    display: block;
  }
  .menu-bg {
    background: $grey;
  }
  .description-bg {
    background: $bg;
    flex-basis: 50%;
    @include md-block() {
      flex-basis: 0;
    }
  }
  .left-block {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;

    @include xs(width, 100%);

  }
  .description-site {
    margin-left: auto;
    padding-left: 30px;
    max-width: 495px;
    padding-top: 10px;
    padding-right: 30px;

    @include lg-block() {
      text-align: center;
      margin: 0 auto;
      padding-left: 0;
      padding-bottom: 15px;
    }
    @include xs(padding-left, 15px);
    .logo {
      @include xs-block() {
        max-width: 160px;
        height: auto;
      }
    }
    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
      max-width: 428px;

      @include lg-block() {
        text-align: center;
        max-width: 100%;
      }
      @include xs-block() {
        text-align: left;
        font-size: 10px;
      }
    }
  }
  .right-block {
    margin-top: -70px;
    @include lg(margin-top, 0);
    @include md-block() {
      margin: 0 auto;
    }
    .row {
      &:nth-child(1) {
        max-height: 206px;
      }
      &:nth-child(2) {
        max-height: 190px;
      }
      &:nth-child(3) {
        max-height: 216px;
      }
    }
    .block-chose {
      position: relative;
      > img {
        width: 100%;
        height: auto;
      }
      .name {
        position: absolute;
        left: 20px;
        top: 20px;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: $white;
        &.fz-less {
          @include xs(font-size, 11px);
        }
        @include lg-block() {
          left: 7px;
          font-size: 20px;
        }
        @include xs(font-size, 14px);
      }
    }
  }
}