$white: #fff;
$white-two: #f6f6f5;
$white-three: #e8e8e8;
$white-four: #f7f7f7;
$bg: #f6f4ed;
$grey: #d9d4c9;
$grey-two: #a2a2a2;
$grey-three: #e9e8e5;
$black: #000;
$black-two: #040404;
$dark: #282122;
$dark-two: #535353;
$dark-three: #474747;
$yellow: #ffc548;
$yellow-two: #ffc637;
$yellow-three: #ffc919;
$blue: #5c88d8;
$red: #ee0521;
$red-two: #ff463f;
$red-three:#e30101;
$red-four: #ff0000;
$brown: #7e7b74;
$dark-80: rgba(0, 0, 0, .6);